/* --- COLUMNS AND GENERAL CONTENT LAYOUT ----- */

body {
	background-color: whitesmoke;
}

#content {
	width: 80%;
	/* Center horizontally */
	margin: 0 auto;
	padding: 15px;
}

#vis-box {
	/* Use horizontal flex for side by side columns */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#left-col {
	width: 68%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

#right-col {
	width: 30%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
}

#left-col > *, #right-col > * {
	border: 2px solid #81886E;
	background-color: whitesmoke;
}

/* ----- MAP AND BUTTON CONTROLS ----- */

#map_and_buttons {
	width: 100%;
}

#map_and_buttons #map-space {
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

#options {
	width: 100%;
	padding: 10px;

	/* Use flex for horizontal display */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.option_button {
	height: 80px;
	width: 80px;
	border: 0px;
	cursor: pointer;
}

#speed-wrapper {
	width: 20%;
}

#speed-wrapper input {
	width: 100%;
}

#speed-wrapper label {
	text-align: center;
	display: block;
}

#speed {
	height: 40px;
}

/* Dropdown Button */
#dropdown-button {
	background-color: #81886E;
	color: white;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	width: 200px;
	box-shadow: 0px 8px 16px 0px rgba(100, 100, 100, 1);
	z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

/* Links inside the dropdown */
#dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
	background-color: #C2C2AF
}

/* ----- TIME CONTROL STYLE ----- */

#time-controls {
	height: 100px;
	margin: 10px 0;
	padding: 10px;

	font-family: monospace;
	font-size: 15px;
}

#time-span rect {
	fill: #EDEDEC;
	width: 100%;
	height: 90%;
}

#time-span path {
	stroke: #C2C2AF;
	stroke-width: 1px;
}

#time-window rect {
	fill: rgba(194, 194, 175, 0.315);
	height: 70%;

	stroke: #81886E;
	stroke-width: 1px;
}

/*timelines/rolls style*/

#timelines {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	padding: 2px;
}

#timelines svg {
	margin: 5px;
}

/* Set timeline background */
#timelines svg > .timeline-bg {
	fill: whitesmoke;
}

/* Set timeline label */
#timelines svg > .timeline-label {
	fill: #81886E;
}

.roll_label {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	fill: white;
}

/*--------Roll style-------*/

.roll_points {
	position: relative;
	fill: rebeccapurple;
}

/*window style when hoovering on points*/

.info_box {
	text-align: center;
	width: 80px;
}

.info_box rect {
	fill: #EDEDEC;
	stroke-width: 1px;
	stroke: #81886E;
}

.info_box text {
	position: relative;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-anchor: middle;
	left: 10px;
	top: 10px;
}

.axis_x {
	color: #81886E;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.axis_y {
	color: #81886E;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	stroke-width: 0;
}

.h_grid .domain {
	stroke-width: 0;
}

.h_grid line {
	stroke: #C2C2AF;
}

/*----right collumn style-------*/
/*----filters style-------*/

#filters {
	margin-bottom: 20px;
}

#filters .A {
	padding: 15px;
}

#filters .A:nth-child(2) {
	border-top: 2px solid #81886E;
	border-bottom: 2px solid #81886E;
}

#filters .A > div {
	margin-bottom: 20px;
}

#filters .A > div:last-child {
	margin-bottom: 0;
}

#filters .A svg {
	position: relative;
	left: 20px;
	top: 5px;
}

#filters h2 {
	display: inline-block;
	margin: 0 0 15px 0;
}

#filters h4 {
	margin: 0 0 10px 0;
}

#filters h4, #filters h2 {
	text-transform: capitalize;
}

/*----graphs style-------*/

/* Select graph background */
#controls svg .bg {
	fill: whitesmoke;
}

/* Select color of graph bars */
#controls svg .statis {
	fill: gray;
}

/* Select color of graph axes */
#controls svg .x_axis, #controls svg .y_axis {
	stroke: gray;
}