#roll_container{
    border-style: solid;
    border-width: 0px;
    margin: 5%;
    height: 400px;
}


#button_div{
    float: left;
    width: 10%;
    align-content: right;
    height: 80%;
    padding : 1%;
}

#button_div button{
    display: block;
    width: 67%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border: 0;
    float: right;
}

#button_div button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274);
}

#plot_roll{
    height: 100%;
    width: 85%;
    float: right;
}

.axis_x{
    font-size: large;
}

.axis_y{
    font-size: larger;
}