body {
	background-color: rgba(0,0,0,0.93);
}
#content {
	width: 80%;
	/* Center horizontally */
	margin: 0 auto;

	padding: 15px;
}

#content h1 {
	text-align: center;
}

#vis-box {
	/* Use horizontal flex for side by side columns */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#left-col {

	width: 68%;

	padding: 5px;

	display: flex;
	flex-direction: column;
}

#left-col svg text, #time-controls text {
	font-size: large;
}

#right-col {

	width: 30%;

	padding: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
}


/*
* map and options div
*/


#map {
	align-self: center;
	width: 100%;
	height: 100%;
}


#time-controls {
	margin: 5px;
}



  /* Dropdown Button */
#projection-dropdown {
	background-color:steelblue;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: default;
	align-content: center;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: red;
	width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(100,100,100,1);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  #myDropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: block;
	cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: steelblue}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

#options{
	width: 10%;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 5%;
}

.option_button{
	height: 15%;
	width: 75%;
	padding: 0px 0px 0px;
	border: 0px;
	margin-top: 5%;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#map_and_buttons {
	width: 100%;
	height: 40%;
}
#map_and_buttons #map-space{
	float: right;
	width: 90%;
	height: 100%;
}

#myDropdown {
	align-self: center;
}

/* ----- TIME CONTROL STYLE ----- */
#time-span rect {
	fill: bisque;
	width: 100%;
	height: 90%;
}

#time-window rect {
	fill: chartreuse;
	y: 8px;
	height: 70%;
}


/*timelines/rolls style*/
#timelines {
	display: flex;
	flex-direction: column;
	background-color: rgba(0,0,0,0.3);
	padding: 2px;
}

#timelines svg {
	margin: 5px;
}

/*--------Roll style-------*/
.roll_points {
	position: relative;
	fill: rebeccapurple;
}

/*window style when hoovering on points*/
.info_box {
	text-align: center;
	width: 80px;
}

.info_box rect {
	fill: steelblue;
	stroke-width: 1px;
	stroke: red;
}

.info_box text{
	position: relative;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-anchor: middle;
	left: 10px;
	top: 10px;
}

.roll_label{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	fill: rgba(134, 177, 218, 0.952);
}

.axis_x {
	color: steelblue;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.axis_y {
	color:steelblue;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	stroke-width: 0;
}
.h_grid .domain{
	stroke-width: 0;
}
.h_grid line{
	stroke: steelblue;
}

/*----right collumn style-------*/
/*----filters style-------*/
#filters{
	width: 100%;
	height: 100%;
	border: 1px solid red;
}

#filters div{
	border: 1px solid blue;
	height: 20%;
}

#filters .A{
	height: 30%;
}

/*----graphs style-------*/