#content {
	width: 80%;

	border: 2px dashed;

	/* Center horizontally */
	margin: 0 auto;

	padding: 15px;
}

#content h1 {
	text-align: center;
}

#vis-box {
	/* Use horizontal flex for side by side columns */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#left-col {
	border: 1px dashed;

	width: 68%;

	padding: 5px;

	display: flex;
	flex-direction: column;
}

#left-col svg text, #time-controls text {
	font-size: large;
	/**text-anchor: middle;
	transform: translate(50%, 60%);
	*/
}

#right-col {
	border: 1px dashed;

	width: 30%;

	padding: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#right-col div {
	height: 50%;
}

#map {
	align-self: center;
	width: 100%;
}

#timelines {
	display: flex;
	flex-direction: column;
}

#timelines svg {
	margin: 5px;

	border: dashed 1px;
}

#time-controls {
	border: dashed 1px;
	margin: 5px;
}




  /* Dropdown Button */
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 